       body {
    color: #FFF;
    background-image: url(https://i.pinimg.com/originals/ab/01/cb/ab01cbba05d8c2500c925ec0f9a0476c.gif);
    }

        th, td {
        border: 1px dotted;
    }

    a:link {
	color: #f38fc3;
    }

    a:visited {
	color: #d95bc8;
    }

    a:hover {
	color: #f38fc3;
	text-decoration: underline;
    }

   .transparent {
        opacity: 0;
    } 

   #htmlcss {
    background-color: rgba(230 100 150 / 30%);
    border: double 5px #f38fc3;
    border-radius: 15px;
        color: rgba(250 240 255);
    max-width: 20%;
    }
   
   .maia {
    background-image: url(https://i.pinimg.com/originals/04/2e/28/042e28021c6d8cdd2d69b0425fbf510b.gif);
    border: double 10px #8609ee;
    border-radius: 15px;
    color: #8609ee;
    font-size: 20px;
    margin: auto;
    padding: 2px;
    text-align: center;
    width: 95%;
    } 

   .maintext {
    background-color: rgba(230 160 205 / 30%);
    border: double 5px #f38fc3;
    border-radius: 15px;
        color: rgba(250 240 255);
    overflow: hidden;
    padding: 5px;
    grid-row: 1 / 5;
    }
   
   .green {
    background-color: rgba(100 130 100 / 30%);   
    border: solid 1px rgba(230 250 200);
    color: rgba(230 250 200);
    overflow: hidden;
    padding: 5px;
    }

   .square {
    background-color: rgba(50 50 100 / 30%);
    border: solid 1px rgba(200 150 0);
    color: rgba(250 200 0);
    overflow: hidden;
    padding: 5px;
    grid-column: 2 / 4;
    }

   .grid {
        display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 5px;
    margin: auto;
    max-width: 75%;
    padding: 5px;
    }
   
   .flexbox {
    display: flex;
    }
   
   .footer {
    background-color: rgba(230 160 205 / 30%);
    border: double 5px #8609ee;
    border-radius: 25px;
    color: #e892ca;
    font-size: 15px;
    margin: auto;
    padding: 2px;
    text-align: center;
    grid-column: 1 / 4;
    }
   
   .badges {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2px;
    }

   .hpink {
    color: #f38fc3;
    }
