      body {
        background-color: #f38fc3;
        color: #4d046f;
      }
      div.maia {
        text-align: center;
        color: #680696;
        background-color: #e8b9f5;
        border-style: double;
        border-color: #8609ee;
        border-width: 10px;
        padding: 10px 0;
      }
      div.sillies {
        text-align: center;
        display: inline-block;
        background-color: #b4daee;
        border-color: #536fed;
        color: #4463f2;
        font-family: monospace;
        border-style: double;
        border-width: 5px;
      }
      div.anotherbanger {
        text-align: center;
        display: inline-block;
        background-image: url(https://i.pinimg.com/originals/ab/01/cb/ab01cbba05d8c2500c925ec0f9a0476c.gif);
        border-color: #90ea40;
        font-size: 20px;
        color: #c6f69b;
        border-style: inset;
        border-width: 4px;
        padding: 10px;
